<!-- ////////////// FOOTER ////////////// -->
footer
	.container
		.footer-box
			.footer-item
				.box
					.footer-text-1
						p &#169; 2018 UI43 - Free Template
					.footer-text-2
						.social-media-box
							.item
								i.fa.fa-behance
							.item
								i.fa.fa-globe
							.item
								i.fa.fa-globe
							.item
								i.fa.fa-instagram
							.item
								i.fa.fa-facebook
							.item
								i.fa.fa-twitter
			.footer-item
				ul.navbar-nav
					li.nav-item
						a.nav-link(href="#") Work
					li.nav-item
						a.nav-link(href="#") About me
					li.nav-item
						a.nav-link(href="#") Blog
					li.nav-item
						a.nav-link(href="#") Contact
					li.nav-item
						button.btn.btn-outline-pill.nav-link(href="#") Hire me
