doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Portfolio
		<!-- ////////////// CSS Include ////////////// -->
		include ../_include/_css
	body
		<!-- ////////////// Header ////////////// -->
		include header
		<!-- ////////////// End Header ////////////// -->
		<!-- ////////////// Begin Main ////////////// -->
		main
			block body
		<!-- ////////////// End Main ////////////// -->
		<!-- ////////////// Footer ////////////// -->
		include footer
		<!-- ////////////// End Footer ////////////// -->
		<!-- ////////////// Javascript Include ////////////// -->
		include ../_include/_script
		block js
